.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.95)),
    url(../images/fabian-grohs-672016-unsplash.jpg);

  background-repeat: no-repeat, no-repeat;

  background-position: top left, fixed;
  background-size: cover, cover;
}

.block-scroll { overflow: hidden; }

.home .hero-txt {
  .hero-work:after {
    content: "";
    display: block;
    width: 330px;
    height: 4px;
    margin: 20px auto 0;
    background-color: transparent;
    border-width: 1px 0;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.3);
  }

  .hero-title {
    font-size: 55px;
    margin-top: 0;
  }
}

.btn-main {
  color: #fff;
  background-color: #9e3205;
  border-color: #ff5006;
}

.section-title {
  p {
    color: rgba(255, 80, 6, 0.81);
    line-height: 40px;
  }

  h3 {
    margin-bottom: 0;
    color: rgba(76, 76, 76, 0.65);
  }
}

.contact-message {
  height: 125px !important;
}

.st-feature {
  .st-feature-title {
    font-size: 20px;
    margin-bottom: 0;
  }

  p {
    font-size: 13px;
    line-height: 20px;
    padding: 0 5px;
  }

  img {
    width: 100%;
  }
}

.copy-trans {
  opacity: 0;
}

.navbar-nav > li > a {
  font-size: 1.75rem;
}

// .css-grid {
//   display: grid;
//   grid-gap: 1rem;
//   grid-template-columns: repeat(4, 1fr);
//   min-height: 250px;
// }

.css-grid { display: flex; flex-wrap: wrap; }
.port-item { flex: 0 1 auto; width: 30%; padding: 20px; text-align: center; }

.css-grid figure {
  h2 { top: 60px; }

  h2::after {
    content: "";
    background: none;
  }

  img { width: 100% }

  figcaption > a { top: 130px; bottom: auto }
}

.lightbox { 
  position: fixed; 
  top: 60px;
  padding-left: 20px;
  padding-top: 20px; 
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(0,0,0,0.9);
  color: white;
  z-index: 5000;

  h1, h2, h3, h4, h5, h6 { color: inherit; }

  h3 { margin-bottom: 22px; }

  

  ul { 
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    li { flex: 0; padding: 0 12px; }
    li:first-of-type { padding-left: 0; }

    img { vertical-align: middle; }
  }
}

.lightbox-close {
  position: relative;
  color: white;
  cursor: pointer;
  font-size: 2em;
  width: 30px; 
  margin-left: auto;
  margin-bottom: 20px;
  z-index: 100;  
}

.lightbox-img { max-width: 100% }

.hr-truncate { 
  max-width: 75%;
  margin-left: 0;
  margin-top: 0;
}

.dev-tools { padding-left: 0; }

.tool-thumb { height: 40px; }

@media screen and (min-width: 1000px) {
  .lightbox-desc { width: 80% }
}